.bus{
	width:50%;
	height:900px;
	background-color: #C4C4C4;
	align-items: center;
	display: flex;
	justify-content: center;
}
.item-bus{
	background-color: white;
	width:33.3%;
	height:78vh;
	border-radius: 15% 15% 3% 3%;
}

.container {
	max-width: 400px;
	margin: 0 auto;
}
.flex {
	display: flex;
}
.item {
	margin-right:2%;
	margin-top: 25%;
	background: #C4C4C4;
	text-align: center;
	width: 45%;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item2 {
	margin-right:2%;
	margin-top: 2%;
	background: #C4C4C4;
	text-align: center;
	width: 45%;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#primeiro{
	margin-left:2%;
}
#corredor{
	background: white;
}

h1 {
	text-align: center;
	margin: 10px 0 10px 0;
	font-size: 1.25em;
	font-weight: normal;
	font-family: Arial;
	color: #333;
}
@media screen and (max-width: 500px) {
.bus{
	width:100%;
}
.item-bus{
	width:70%;
	height:76%;
}
}